body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  background-color: #D3AC2B;
}

header, nav, main, aside, footer {
  padding: 20px;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
}
h1{
  color:#D3AC2B;
  text-align: left;
}

nav {
  background-color: #D3AC2B;
  color: white;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color:#333D51;
}
aside a{
  color:#D3AC2B;
}


main {
  float: left;
  width: 70%;
  background-color: #F4F3EA;

}

aside {
  float: right;
  width: 30%;
  background-color:#333;
  color:#F4F3EA;
}
img{
  width:100%;
}


footer {
  clear: both;
  background-color: #333;
  color: white;
  text-align: center;
}
h2 h3{
  color: #D3AC2B;
}

@media only screen and (max-width: 600px) {
  main, aside {
    float: none;
    width: 100%;
  }
}